# Homicide project
Data from 1980 until 2014
BLM starts in 2013

## Import libraries

In [472]:
import numpy as np
import pandas as pd
import scipy.stats as stats

## Read & explore data

In [473]:
homicide = pd.read_csv('../your-project/Data/database.csv', low_memory=False)

In [635]:
homicide[homicide['Perpetrator Race']=='Black']

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Victim Race & Ethnicity,Weapon_category,Decade
6,7,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,...,Black,Unknown,Wife,Knife,0,0,FBI,Native American/Alaska Native-Unknown,Knife,1980
12,13,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,July,3,Murder or Manslaughter,...,Black,Unknown,Girlfriend,Blunt Object,0,0,FBI,Black-Unknown,Blunt Object,1980
15,16,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,August,3,Murder or Manslaughter,...,Black,Unknown,Ex-Husband,Handgun,0,0,FBI,Black-Unknown,Gun,1980
47,48,AL00100,Jefferson,Sheriff,Jefferson,Alabama,1980,February,1,Murder or Manslaughter,...,Black,Unknown,Neighbor,Rifle,0,0,FBI,Black-Unknown,Gun,1980
49,50,AL00100,Jefferson,Sheriff,Jefferson,Alabama,1980,April,1,Murder or Manslaughter,...,Black,Unknown,Acquaintance,Handgun,0,0,FBI,Black-Unknown,Gun,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638394,638395,WV02002,Charleston,Municipal Police,Kanawha,West Virginia,2014,December,1,Murder or Manslaughter,...,Black,Unknown,Stranger,Handgun,0,1,FBI,Black-Unknown,Gun,2010
638396,638397,WV02005,St. Albans,Municipal Police,Kanawha,West Virginia,2014,September,1,Murder or Manslaughter,...,Black,Unknown,Acquaintance,Unknown,0,0,FBI,White-Unknown,Unknown,2010
638402,638403,WV02803,Princeton,Municipal Police,Mercer,West Virginia,2014,February,1,Murder or Manslaughter,...,Black,Unknown,Unknown,Unknown,1,0,FBI,White-Unknown,Unknown,2010
638403,638404,WV02803,Princeton,Municipal Police,Mercer,West Virginia,2014,February,1,Murder or Manslaughter,...,Black,Unknown,Unknown,Unknown,1,0,FBI,White-Unknown,Unknown,2010
638448,638449,WY01301,Casper,Municipal Police,Natrona,Wyoming,2014,August,1,Murder or Manslaughter,...,Black,Unknown,Friend,Firearm,0,0,FBI,Native American/Alaska Native-Unknown,Gun,2010

In [474]:
homicide

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,WY01500,Park County,Sheriff,Park,Wyoming,2014,January,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
638450,638451,WY01700,Sheridan County,Sheriff,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,...,Unknown,Male,57,White,Unknown,Acquaintance,Handgun,0,0,FBI
638451,638452,WY01701,Sheridan,Municipal Police,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,...,Unknown,Female,22,Asian/Pacific Islander,Unknown,Daughter,Suffocation,0,0,FBI
638452,638453,WY01800,Sublette County,Sheriff,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,...,Not Hispanic,Male,31,White,Not Hispanic,Stranger,Knife,0,1,FBI
638453,638454,WY01902,Rock Springs,Municipal Police,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,...,Not Hispanic,Female,24,White,Not Hispanic,Daughter,Blunt Object,0,1,FBI

In [475]:
homicide.to_csv('../your-project/homicide_gun.csv')

In [476]:
homicide.columns

Index(['Record ID', 'Agency Code', 'Agency Name', 'Agency Type', 'City',
       'State', 'Year', 'Month', 'Incident', 'Crime Type', 'Crime Solved',
       'Victim Sex', 'Victim Age', 'Victim Race', 'Victim Ethnicity',
       'Perpetrator Sex', 'Perpetrator Age', 'Perpetrator Race',
       'Perpetrator Ethnicity', 'Relationship', 'Weapon', 'Victim Count',
       'Perpetrator Count', 'Record Source'],
      dtype='object')

In [477]:
homicide['State'].value_counts()

California              99783
Texas                   62095
New York                49268
Florida                 37164
Michigan                28448
Illinois                25871
Pennsylvania            24236
Georgia                 21088
North Carolina          20390
Louisiana               19629
Ohio                    19158
Maryland                17312
Virginia                15520
Tennessee               14930
Missouri                14832
New Jersey              14132
Arizona                 12871
South Carolina          11698
Indiana                 11463
Alabama                 11376
Oklahoma                 8809
Washington               7815
District of Columbia     7115
Arkansas                 6947
Colorado                 6593
Kentucky                 6554
Mississippi              6546
Wisconsin                6191
Massachusetts            6036
Nevada                   5553
Connecticut              4896
New Mexico               4272
Oregon                   4217
Minnesota                3975
Kansas                   3085
West Virginia            3061
Utah                     2033
Iowa                     1749
Alaska                   1617
Hawaii                   1338
Nebraska                 1331
Rhodes Island            1211
Delaware                 1179
Idaho                    1150
Maine                     869
New Hampshire             655
Wyoming                   630
Montana                   601
South Dakota              442
Vermont                   412
North Dakota              308
Name: State, dtype: int64

In [478]:
homicide['Victim Race'].value_counts()

White                            317422
Black                            299899
Asian/Pacific Islander             9890
Unknown                            6676
Native American/Alaska Native      4567
Name: Victim Race, dtype: int64

In [479]:
homicide['Victim Ethnicity'].value_counts()

Unknown         368303
Not Hispanic    197499
Hispanic         72652
Name: Victim Ethnicity, dtype: int64

In [480]:
homicide['Incident'].value_counts()

1      265528
2       71779
3       39236
4       27113
5       20658
        ...
784        16
783        16
782        16
781        16
0          16
Name: Incident, Length: 1000, dtype: int64

In [481]:
homicide['Perpetrator Count'].value_counts() #What is this????

0     558838
1      54745
2      15777
3       6531
4       1489
5        592
6        207
7        129
9         52
8         52
10        42
Name: Perpetrator Count, dtype: int64

In [482]:
homicide['Crime Type'].value_counts()

Murder or Manslaughter        629338
Manslaughter by Negligence      9116
Name: Crime Type, dtype: int64

In [483]:
homicide['Relationship'].value_counts()

Unknown                 273013
Acquaintance            126018
Stranger                 96593
Wife                     23187
Friend                   21945
Girlfriend               16465
Son                       9904
Family                    9535
Husband                   8803
Daughter                  7539
Boyfriend                 7302
Neighbor                  6294
Brother                   5514
Father                    4361
Mother                    4248
In-Law                    3637
Common-Law Wife           2477
Ex-Wife                   1973
Common-Law Husband        1954
Boyfriend/Girlfriend      1383
Stepfather                1360
Sister                    1292
Stepson                   1170
Stepdaughter               754
Ex-Husband                 629
Employer                   509
Employee                   384
Stepmother                 211
Name: Relationship, dtype: int64

In [484]:
"""
Notes: in ethnicity there are a lot of unknowns. Should I do it just by race?

Columns to work with:
- City, State (see if later on I can visualize them on Tableau)
- Year
- Month
- Perpetrator age and victim Age
- Crime Solved
- Victim Race / Ethnicity (Hispanic or not hispanic) & Perpetrator Race / Ethnicity 
(Goodness of fit test??)
- Relationship!!! (a lot of unknowns)
- Weapon (Group by gun, 'arma blanca', 'other')
- 'Victim Count', number of victims per homicide
- 'Perpetrator Count' (determine the kind of serial killer)
- 


Questions that may arise:
- profile of a serial killer
- typical killer

"""

"\nNotes: in ethnicity there are a lot of unknowns. Should I do it just by race?\n\nColumns to work with:\n- City, State (see if later on I can visualize them on Tableau)\n- Year\n- Month\n- Perpetrator age and victim Age\n- Crime Solved\n- Victim Race / Ethnicity (Hispanic or not hispanic) & Perpetrator Race / Ethnicity \n(Goodness of fit test??)\n- Relationship!!! (a lot of unknowns)\n- Weapon (Group by gun, 'arma blanca', 'other')\n- 'Victim Count', number of victims per homicide\n- 'Perpetrator Count' (determine the kind of serial killer)\n- \n\n\nQuestions that may arise:\n- profile of a serial killer\n- typical killer\n\n"

In [485]:
homicide.describe()

,Record ID,Year,Incident,Victim Age,Victim Count,Perpetrator Count
count,638454.00000,638454.000000,638454.000000,638454.000000,638454.000000,638454.000000
mean,319227.50000,1995.801102,22.967924,35.033512,0.123334,0.185224
std,184305.93872,9.927693,92.149821,41.628306,0.537733,0.585496
min,1.00000,1980.000000,0.000000,0.000000,0.000000,0.000000
25%,159614.25000,1987.000000,1.000000,22.000000,0.000000,0.000000
50%,319227.50000,1995.000000,2.000000,30.000000,0.000000,0.000000
75%,478840.75000,2004.000000,10.000000,42.000000,0.000000,0.000000
max,638454.00000,2014.000000,999.000000,998.000000,10.000000,10.000000

In [486]:
# Deadliest cities LA, NYC, Cook = Chicago, Wayne = Detroit, Harris = Houston. OUTLIER DETROIT
homicide['City'].value_counts().head(10)

Los Angeles       44511
New York          38431
Cook              22383
Wayne             19904
Harris            16331
Philadelphia      12851
Dallas            11377
Jefferson          9573
Baltimore city     9336
Dade               9077
Name: City, dtype: int64

In [487]:
homicide['State'].value_counts()

California              99783
Texas                   62095
New York                49268
Florida                 37164
Michigan                28448
Illinois                25871
Pennsylvania            24236
Georgia                 21088
North Carolina          20390
Louisiana               19629
Ohio                    19158
Maryland                17312
Virginia                15520
Tennessee               14930
Missouri                14832
New Jersey              14132
Arizona                 12871
South Carolina          11698
Indiana                 11463
Alabama                 11376
Oklahoma                 8809
Washington               7815
District of Columbia     7115
Arkansas                 6947
Colorado                 6593
Kentucky                 6554
Mississippi              6546
Wisconsin                6191
Massachusetts            6036
Nevada                   5553
Connecticut              4896
New Mexico               4272
Oregon                   4217
Minnesota                3975
Kansas                   3085
West Virginia            3061
Utah                     2033
Iowa                     1749
Alaska                   1617
Hawaii                   1338
Nebraska                 1331
Rhodes Island            1211
Delaware                 1179
Idaho                    1150
Maine                     869
New Hampshire             655
Wyoming                   630
Montana                   601
South Dakota              442
Vermont                   412
North Dakota              308
Name: State, dtype: int64

In [488]:
#Results are normal because it corresponds to the most populated states
# LOUISIANA SUPER OUTLIER
homicide['State'].value_counts().head(10)

California        99783
Texas             62095
New York          49268
Florida           37164
Michigan          28448
Illinois          25871
Pennsylvania      24236
Georgia           21088
North Carolina    20390
Louisiana         19629
Name: State, dtype: int64

In [489]:
# In just 10 years 2013 to 1993, the number of homicides went down by 10,000
# apparent trend to go down
# PLOT THIS
homicide['Year'].value_counts()

1993    24335
1992    23793
1994    23246
1980    23092
1991    22657
1990    21246
1981    21208
1995    21179
1982    20544
1986    20125
1989    19868
1983    19653
1996    18969
1987    18783
1988    18779
1985    18386
1984    18093
1997    17794
2007    17303
2006    17275
2005    16836
2003    16512
2002    16268
2004    16233
1998    16061
2009    15840
2001    15803
2008    15595
2010    15121
2012    15033
2011    14756
2000    14671
1999    14621
2013    14445
2014    14331
Name: Year, dtype: int64

In [490]:
#Deathliest month
homicide['Month'].value_counts()

July         58696
August       58072
December     55187
September    54117
June         53662
October      53650
May          53394
January      52928
March        51444
April        51209
November     50016
February     46079
Name: Month, dtype: int64

In [491]:
homicide['Crime Solved'].value_counts()

Yes    448172
No     190282
Name: Crime Solved, dtype: int64

In [492]:
homicide['Victim Sex'].value_counts()

Male       494125
Female     143345
Unknown       984
Name: Victim Sex, dtype: int64

In [493]:
homicide['Victim Age'].value_counts().head(10)

22    23049
20    23031
25    22939
21    22796
23    22438
19    21939
24    21830
26    20469
27    19465
30    18966
Name: Victim Age, dtype: int64

In [494]:
homicide['Victim Race'].value_counts()

White                            317422
Black                            299899
Asian/Pacific Islander             9890
Unknown                            6676
Native American/Alaska Native      4567
Name: Victim Race, dtype: int64

In [495]:
homicide['Victim Ethnicity'].value_counts()

Unknown         368303
Not Hispanic    197499
Hispanic         72652
Name: Victim Ethnicity, dtype: int64

In [496]:
#Maybe incorporate hispanic to race??
#pokemon['Combo Type'] = pokemon[['Type 1', 'Type 2']].astype(str).agg('-'.join, axis=1)
homicide['Victim Race & Ethnicity'] = homicide[['Victim Race', 'Victim Ethnicity']].astype(str).agg('-'.join, axis=1)

In [497]:
# I don't think this gives us a lot of information
homicide['Victim Race & Ethnicity'].value_counts()

Black-Unknown                                 197713
White-Unknown                                 157445
Black-Not Hispanic                            100973
White-Not Hispanic                             88778
White-Hispanic                                 71199
Unknown-Unknown                                 6329
Asian/Pacific Islander-Not Hispanic             5568
Asian/Pacific Islander-Unknown                  4270
Native American/Alaska Native-Unknown           2546
Native American/Alaska Native-Not Hispanic      2010
Black-Hispanic                                  1213
Unknown-Hispanic                                 177
Unknown-Not Hispanic                             170
Asian/Pacific Islander-Hispanic                   52
Native American/Alaska Native-Hispanic            11
Name: Victim Race & Ethnicity, dtype: int64

In [498]:
# A lot of unknowns
homicide['Perpetrator Sex'].value_counts()

Male       399541
Unknown    190365
Female      48548
Name: Perpetrator Sex, dtype: int64

In [499]:
homicide.loc[(homicide['Perpetrator Sex']=='Unknown') & (homicide['Crime Solved']=='No')]['Record ID'].count()

190218

In [500]:
homicide['Crime Solved'].value_counts()

Yes    448172
No     190282
Name: Crime Solved, dtype: int64

In [501]:
# We can have an intuition that the crimes not solved are the sex that remain unknown

In [502]:
# 0 years old (OUTLIERS)
homicide['Perpetrator Age'].value_counts().head(10)

0     216327
20     21625
19     20250
21     18983
18     18834
22     18433
23     17604
25     17542
24     16379
26     14716
Name: Perpetrator Age, dtype: int64

In [503]:
homicide['Perpetrator Race'].value_counts()

White                            218243
Black                            214516
Unknown                          196047
Asian/Pacific Islander             6046
Native American/Alaska Native      3602
Name: Perpetrator Race, dtype: int64

In [504]:
homicide['Relationship'].value_counts()

Unknown                 273013
Acquaintance            126018
Stranger                 96593
Wife                     23187
Friend                   21945
Girlfriend               16465
Son                       9904
Family                    9535
Husband                   8803
Daughter                  7539
Boyfriend                 7302
Neighbor                  6294
Brother                   5514
Father                    4361
Mother                    4248
In-Law                    3637
Common-Law Wife           2477
Ex-Wife                   1973
Common-Law Husband        1954
Boyfriend/Girlfriend      1383
Stepfather                1360
Sister                    1292
Stepson                   1170
Stepdaughter               754
Ex-Husband                 629
Employer                   509
Employee                   384
Stepmother                 211
Name: Relationship, dtype: int64

In [505]:
homicide['Weapon'].value_counts()

Handgun          317484
Knife             94962
Blunt Object      67337
Firearm           46980
Unknown           33192
Shotgun           30722
Rifle             23347
Strangulation      8110
Fire               6173
Suffocation        3968
Gun                2206
Drugs              1588
Drowning           1204
Explosives          537
Poison              454
Fall                190
Name: Weapon, dtype: int64

In [506]:
# Create bin on guns ASK GUILLEM

In [507]:
def label_guns(row):
    if row['Weapon'] in ['Handgun', 'Firearm', 'Shotgun', 'Rifle', 'Gun']:
        return 'Gun'
    else:
        return row['Weapon']

In [508]:
homicide['Weapon_category'] = homicide.apply(lambda row: label_guns(row), axis=1)

In [509]:
homicide['Weapon_category'].value_counts()

Gun              420739
Knife             94962
Blunt Object      67337
Unknown           33192
Strangulation      8110
Fire               6173
Suffocation        3968
Drugs              1588
Drowning           1204
Explosives          537
Poison              454
Fall                190
Name: Weapon_category, dtype: int64

In [510]:
# More killers together don't kill more people
homicide['Victim Count'].corr(homicide['Perpetrator Count'])

0.0672844405470376

In [511]:
homicide['Perpetrator Count'].value_counts()

0     558838
1      54745
2      15777
3       6531
4       1489
5        592
6        207
7        129
9         52
8         52
10        42
Name: Perpetrator Count, dtype: int64

In [512]:
homicide['Perpetrator Count'].mean()

0.18522399421101599

In [513]:
homicide.loc[(homicide['Perpetrator Count']==0) & (homicide['Victim Count']==0)]['Record ID'].count()

517924

In [514]:
homicide['Victim Count'].value_counts()

0     586059
1      38750
2       8156
3       2847
4       1084
5        510
9        290
6        286
7        168
10       160
8        144
Name: Victim Count, dtype: int64

In [515]:
homicide['Victim Count'].mean()

0.1233338658697416

In [516]:
#perform time series analysis (with victims age, number killers, number deaths)

In [517]:
homicide.groupby('Year')[['Victim Count', 'Perpetrator Count']].sum()

      Victim Count  Perpetrator Count
Year
1980          2410               4237
1981          2118               2823
1982          2692               2879
1983          1950               2604
1984          2110               2438
1985          2048               2297
1986          2082               2485
1987          2090               2452
1988          1886               2810
1989          2062               3003
1990          2664               3815
1991          2224               4339
1992          2608               4191
1993          2686               4389
1994          2440               4488
1995          3872               4248
1996          1880               3553
1997          2132               3369
1998          1670               2970
1999          1984               2631
2000          1752               2975
2001          1870               3102
2002          2214               3257
2003          2568               3224
2004          2156               3195
2005          2184               3667
2006          2343               4055
2007          2420               3861
2008          2191               3485
2009          2389               3726
2010          2044               3718
2011          2153               3484
2012          2510               3517
2013          2276               3485
2014          2065               3485

In [518]:
homicide.loc[(homicide['Perpetrator Race']=='White') & (homicide['Victim Race']=='Black')]['Record ID'].count()

17004

In [519]:
homicide.loc[(homicide['Perpetrator Race']=='Black') & (homicide['Victim Race']=='White')]['Record ID'].count()

32635

In [520]:
homicide['Perpetrator Count'].value_counts() #COMO esquivar los Nans

0     558838
1      54745
2      15777
3       6531
4       1489
5        592
6        207
7        129
9         52
8         52
10        42
Name: Perpetrator Count, dtype: int64

In [522]:
# WEALTH RACE

In [523]:
# Inequality vs killing

In [524]:
# Guns per state? 11:30

In [525]:
homicide.groupby(['State','Year'])['Record ID'].count()

State    Year
Alabama  1980    513
         1981    453
         1982    424
         1983    372
         1984    382
                ...
Wyoming  2010      8
         2011     20
         2012     17
         2013     17
         2014     14
Name: Record ID, Length: 1759, dtype: int64

In [526]:
homicide['Decade'] = pd.cut(homicide['Year'], [1979, 1990, 2000, 2010, 2014], labels=('1980','1990','2000','2010'))
homicide['Decade'].value_counts()

1980    219777
1990    197326
2000    162786
2010     58565
Name: Decade, dtype: int64

In [527]:
homicide["Decade"]=homicide["Decade"].astype("int")

In [528]:
homicide.groupby(['State','Decade'])['Record ID'].value_counts()

State    Decade  Record ID
Alabama  1980    48           1
                 49           1
                 50           1
                 51           1
                 52           1
                             ..
Wyoming  2010    638450       1
                 638451       1
                 638452       1
                 638453       1
                 638454       1
Name: Record ID, Length: 638454, dtype: int64

In [529]:
homicide['Year'].value_counts()

1993    24335
1992    23793
1994    23246
1980    23092
1991    22657
1990    21246
1981    21208
1995    21179
1982    20544
1986    20125
1989    19868
1983    19653
1996    18969
1987    18783
1988    18779
1985    18386
1984    18093
1997    17794
2007    17303
2006    17275
2005    16836
2003    16512
2002    16268
2004    16233
1998    16061
2009    15840
2001    15803
2008    15595
2010    15121
2012    15033
2011    14756
2000    14671
1999    14621
2013    14445
2014    14331
Name: Year, dtype: int64

In [530]:
homicide_decade['Decade'].dtype

dtype('O')

In [636]:
homicide_decade

        Record ID    State Decade
0               1   Alaska   1980
1               2   Alaska   1980
2               3   Alaska   1980
3               4   Alaska   1980
4               5   Alaska   1980
...           ...      ...    ...
638449     638450  Wyoming   2010
638450     638451  Wyoming   2010
638451     638452  Wyoming   2010
638452     638453  Wyoming   2010
638453     638454  Wyoming   2010

[638454 rows x 3 columns]

In [531]:
population_us_states = population_us_states.astype({"Decade": object})

In [532]:
homicide_decade['Decade'] = homicide_decade['Decade'].astype('int')

In [533]:
population_us_states = pd.read_csv('../your-project/Data/Population_by_state_by_year.csv')

In [534]:
population_us_states

               State Population  Decade
0            Alabama  3,893,888    1980
1             Alaska    401,851    1980
2     American Samoa     32,297    1980
3            Arizona  2,718,215    1980
4           Arkansas  2,286,435    1980
..               ...        ...     ...
211         Virginia  8,001,024    2010
212       Washington  6,724,540    2010
213    West Virginia  1,852,994    2010
214        Wisconsin  5,686,986    2010
215          Wyoming    563,626    2010

[216 rows x 3 columns]

In [535]:
homicide_decade = homicide[['Record ID', 'State', 'Decade']]

In [536]:
homicide_decade = homicide_decade.astype({"Decade": object})

In [537]:
homicide_decade.dtypes

Record ID     int64
State        object
Decade       object
dtype: object

In [538]:
population_us_states.dtypes

State         object
Population    object
Decade         int64
dtype: object

In [539]:
# new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

In [540]:
population_us_states['Decade']

0      1980
1      1980
2      1980
3      1980
4      1980
       ...
211    2010
212    2010
213    2010
214    2010
215    2010
Name: Decade, Length: 216, dtype: int64

In [541]:
population_us_states.rename(columns={'Name':'State'}, inplace=True)

In [542]:
population_us_states

               State Population  Decade
0            Alabama  3,893,888    1980
1             Alaska    401,851    1980
2     American Samoa     32,297    1980
3            Arizona  2,718,215    1980
4           Arkansas  2,286,435    1980
..               ...        ...     ...
211         Virginia  8,001,024    2010
212       Washington  6,724,540    2010
213    West Virginia  1,852,994    2010
214        Wisconsin  5,686,986    2010
215          Wyoming    563,626    2010

[216 rows x 3 columns]

In [543]:
homicide_decade["State"]=homicide_decade["State"].str.strip()

In [544]:
population_us_states["State"]=population_us_states["State"].str.strip()

In [545]:
homicide_decade['State'].value_counts()

California              99783
Texas                   62095
New York                49268
Florida                 37164
Michigan                28448
Illinois                25871
Pennsylvania            24236
Georgia                 21088
North Carolina          20390
Louisiana               19629
Ohio                    19158
Maryland                17312
Virginia                15520
Tennessee               14930
Missouri                14832
New Jersey              14132
Arizona                 12871
South Carolina          11698
Indiana                 11463
Alabama                 11376
Oklahoma                 8809
Washington               7815
District of Columbia     7115
Arkansas                 6947
Colorado                 6593
Kentucky                 6554
Mississippi              6546
Wisconsin                6191
Massachusetts            6036
Nevada                   5553
Connecticut              4896
New Mexico               4272
Oregon                   4217
Minnesota                3975
Kansas                   3085
West Virginia            3061
Utah                     2033
Iowa                     1749
Alaska                   1617
Hawaii                   1338
Nebraska                 1331
Rhodes Island            1211
Delaware                 1179
Idaho                    1150
Maine                     869
New Hampshire             655
Wyoming                   630
Montana                   601
South Dakota              442
Vermont                   412
North Dakota              308
Name: State, dtype: int64

In [546]:
homicide_population = pd.merge(homicide_decade, population_us_states, how='left')

In [547]:
homicide_population

        Record ID    State Decade Population
0               1   Alaska   1980    401,851
1               2   Alaska   1980    401,851
2               3   Alaska   1980    401,851
3               4   Alaska   1980    401,851
4               5   Alaska   1980    401,851
...           ...      ...    ...        ...
638449     638450  Wyoming   2010    563,626
638450     638451  Wyoming   2010    563,626
638451     638452  Wyoming   2010    563,626
638452     638453  Wyoming   2010    563,626
638453     638454  Wyoming   2010    563,626

[638454 rows x 4 columns]

In [548]:
homicide_population.groupby(['State', 'Decade', 'Population'])[['Record ID']].count()

                             Record ID
State     Decade Population
Alabama   1980   3,893,888        4552
          1990   4,040,587        3708
          2000   4,447,100        3111
          2010   4,779,736           5
Alaska    1980   401,851           570
...                                ...
Wisconsin 2010   5,686,986         681
Wyoming   1980   469,557           268
          1990   453,588           163
          2000   493,782           131
          2010   563,626            68

[200 rows x 1 columns]

In [549]:
homicide_percentage = homicide_population.groupby(['State', 'Decade', 'Population'])[['Record ID']].count()

In [550]:
homicide_percentage.reset_index(inplace=True)

In [551]:
homicide_percentage

         State  Decade Population  Record ID
0      Alabama    1980  3,893,888       4552
1      Alabama    1990  4,040,587       3708
2      Alabama    2000  4,447,100       3111
3      Alabama    2010  4,779,736          5
4       Alaska    1980    401,851        570
..         ...     ...        ...        ...
195  Wisconsin    2010  5,686,986        681
196    Wyoming    1980    469,557        268
197    Wyoming    1990    453,588        163
198    Wyoming    2000    493,782        131
199    Wyoming    2010    563,626         68

[200 rows x 4 columns]

In [552]:
homicide_percentage['Population'] = homicide_percentage['Population'].str.replace(',','')

In [553]:
homicide_percentage

         State  Decade Population  Record ID
0      Alabama    1980    3893888       4552
1      Alabama    1990    4040587       3708
2      Alabama    2000    4447100       3111
3      Alabama    2010    4779736          5
4       Alaska    1980     401851        570
..         ...     ...        ...        ...
195  Wisconsin    2010    5686986        681
196    Wyoming    1980     469557        268
197    Wyoming    1990     453588        163
198    Wyoming    2000     493782        131
199    Wyoming    2010     563626         68

[200 rows x 4 columns]

In [554]:
homicide_percentage.dtypes

State         object
Decade         int64
Population    object
Record ID      int64
dtype: object

In [555]:
homicide_percentage["Population"]=homicide_percentage["Population"].astype("int")

In [556]:
homicide_percentage['Homicide Ratio'] = homicide_percentage['Record ID'] / homicide_percentage['Population']

In [557]:
homicide_percentage

         State  Decade  Population  Record ID  Homicide Ratio
0      Alabama    1980     3893888       4552        0.001169
1      Alabama    1990     4040587       3708        0.000918
2      Alabama    2000     4447100       3111        0.000700
3      Alabama    2010     4779736          5        0.000001
4       Alaska    1980      401851        570        0.001418
..         ...     ...         ...        ...             ...
195  Wisconsin    2010     5686986        681        0.000120
196    Wyoming    1980      469557        268        0.000571
197    Wyoming    1990      453588        163        0.000359
198    Wyoming    2000      493782        131        0.000265
199    Wyoming    2010      563626         68        0.000121

[200 rows x 5 columns]

In [558]:
homicide_percentage.sort_values(by=['Homicide Ratio'], ascending=False)

                    State  Decade  Population  Record ID  Homicide Ratio
32   District of Columbia    1980      638333       2802        0.004390
33   District of Columbia    1990      606900       2465        0.004062
34   District of Columbia    2000      572059       1503        0.002627
168                 Texas    1980    14229191      24373        0.001713
112                Nevada    1980      800493       1258        0.001572
..                    ...     ...         ...        ...             ...
179               Vermont    2010      625741         43        0.000069
63                   Iowa    2010     3046355        203        0.000067
47                 Hawaii    2010     1360301         86        0.000063
119         New Hampshire    2010     1316470         71        0.000054
3                 Alabama    2010     4779736          5        0.000001

[200 rows x 5 columns]

In [559]:
homicide_percentage.to_csv('./Data/homicide_percentage.csv')

In [560]:
gini = pd.read_csv('./Data/gini/ACSDT1Y2019.B19083_data_with_overlays_2020-11-19T114458.csv')

In [561]:
gini.head()

,GEO_ID,NAME,B19083_001E,B19083_001M
0,id,Geographic Area Name,Estimate!!Gini Index,Margin of Error!!Gini Index
1,0400000US01,Alabama,0.4741,0.0052
2,0400000US02,Alaska,0.4376,0.0123
3,0400000US04,Arizona,0.4591,0.0040
4,0400000US05,Arkansas,0.4750,0.0064

In [562]:
gini.drop(columns=['GEO_ID','B19083_001M'], axis=1, inplace=True)

In [563]:
gini.drop([0,52], inplace=True)

In [564]:
gini['Gini_Index'] = gini['B19083_001E']

In [565]:
gini

                    NAME B19083_001E Gini_Index
1                Alabama      0.4741     0.4741
2                 Alaska      0.4376     0.4376
3                Arizona      0.4591     0.4591
4               Arkansas      0.4750     0.4750
5             California      0.4866     0.4866
6               Colorado      0.4548     0.4548
7            Connecticut      0.5024     0.5024
8               Delaware      0.4509     0.4509
9   District of Columbia      0.5115     0.5115
10               Florida      0.4808     0.4808
11               Georgia      0.4795     0.4795
12                Hawaii      0.4397     0.4397
13                 Idaho      0.4337     0.4337
14              Illinois      0.4800     0.4800
15               Indiana      0.4584     0.4584
16                  Iowa      0.4422     0.4422
17                Kansas      0.4500     0.4500
18              Kentucky      0.4764     0.4764
19             Louisiana      0.4978     0.4978
20                 Maine      0.4490     0.4490
21              Maryland      0.4558     0.4558
22         Massachusetts      0.4803     0.4803
23              Michigan      0.4634     0.4634
24             Minnesota      0.4434     0.4434
25           Mississippi      0.4896     0.4896
26              Missouri      0.4633     0.4633
27               Montana      0.4597     0.4597
28              Nebraska      0.4400     0.4400
29                Nevada      0.4710     0.4710
30         New Hampshire      0.4406     0.4406
31            New Jersey      0.4782     0.4782
32            New Mexico      0.4768     0.4768
33              New York      0.5149     0.5149
34        North Carolina      0.4743     0.4743
35          North Dakota      0.4558     0.4558
36                  Ohio      0.4651     0.4651
37              Oklahoma      0.4739     0.4739
38                Oregon      0.4500     0.4500
39          Pennsylvania      0.4745     0.4745
40          Rhode Island      0.4628     0.4628
41        South Carolina      0.4747     0.4747
42          South Dakota      0.4360     0.4360
43             Tennessee      0.4749     0.4749
44                 Texas      0.4753     0.4753
45                  Utah      0.4268     0.4268
46               Vermont      0.4471     0.4471
47              Virginia      0.4690     0.4690
48            Washington      0.4577     0.4577
49         West Virginia      0.4644     0.4644
50             Wisconsin      0.4391     0.4391
51               Wyoming      0.4345     0.4345

In [566]:
gini.drop(columns='B19083_001E', axis=1, inplace=True)

In [567]:
# df_new = df.rename(columns={'A': 'a'}
gini = gini.rename(columns={'NAME':'State'})

In [568]:
gini

                   State Gini_Index
1                Alabama     0.4741
2                 Alaska     0.4376
3                Arizona     0.4591
4               Arkansas     0.4750
5             California     0.4866
6               Colorado     0.4548
7            Connecticut     0.5024
8               Delaware     0.4509
9   District of Columbia     0.5115
10               Florida     0.4808
11               Georgia     0.4795
12                Hawaii     0.4397
13                 Idaho     0.4337
14              Illinois     0.4800
15               Indiana     0.4584
16                  Iowa     0.4422
17                Kansas     0.4500
18              Kentucky     0.4764
19             Louisiana     0.4978
20                 Maine     0.4490
21              Maryland     0.4558
22         Massachusetts     0.4803
23              Michigan     0.4634
24             Minnesota     0.4434
25           Mississippi     0.4896
26              Missouri     0.4633
27               Montana     0.4597
28              Nebraska     0.4400
29                Nevada     0.4710
30         New Hampshire     0.4406
31            New Jersey     0.4782
32            New Mexico     0.4768
33              New York     0.5149
34        North Carolina     0.4743
35          North Dakota     0.4558
36                  Ohio     0.4651
37              Oklahoma     0.4739
38                Oregon     0.4500
39          Pennsylvania     0.4745
40          Rhode Island     0.4628
41        South Carolina     0.4747
42          South Dakota     0.4360
43             Tennessee     0.4749
44                 Texas     0.4753
45                  Utah     0.4268
46               Vermont     0.4471
47              Virginia     0.4690
48            Washington     0.4577
49         West Virginia     0.4644
50             Wisconsin     0.4391
51               Wyoming     0.4345

In [569]:
homicide_percentage

         State  Decade  Population  Record ID  Homicide Ratio
0      Alabama    1980     3893888       4552        0.001169
1      Alabama    1990     4040587       3708        0.000918
2      Alabama    2000     4447100       3111        0.000700
3      Alabama    2010     4779736          5        0.000001
4       Alaska    1980      401851        570        0.001418
..         ...     ...         ...        ...             ...
195  Wisconsin    2010     5686986        681        0.000120
196    Wyoming    1980      469557        268        0.000571
197    Wyoming    1990      453588        163        0.000359
198    Wyoming    2000      493782        131        0.000265
199    Wyoming    2010      563626         68        0.000121

[200 rows x 5 columns]

In [570]:
homicide_percentage.columns

Index(['State', 'Decade', 'Population', 'Record ID', 'Homicide Ratio'], dtype='object')

In [571]:
homicide_percentage2000 = homicide_percentage[homicide_percentage['Decade']==2000]

In [572]:
homicide_percentage2000.head()

         State  Decade  Population  Record ID  Homicide Ratio
2      Alabama    2000     4447100       3111        0.000700
6       Alaska    2000      626932        406        0.000648
10     Arizona    2000     5130632       4505        0.000878
14    Arkansas    2000     2673400       1665        0.000623
18  California    2000    33871648      24003        0.000709

In [573]:
homicide_gini = pd.merge(homicide_percentage2000, gini, how='left')
homicide_gini.head()

        State  Decade  Population  Record ID  Homicide Ratio Gini_Index
0     Alabama    2000     4447100       3111        0.000700     0.4741
1      Alaska    2000      626932        406        0.000648     0.4376
2     Arizona    2000     5130632       4505        0.000878     0.4591
3    Arkansas    2000     2673400       1665        0.000623     0.4750
4  California    2000    33871648      24003        0.000709     0.4866

In [574]:
homicide_gini.dtypes

State              object
Decade              int64
Population          int64
Record ID           int64
Homicide Ratio    float64
Gini_Index         object
dtype: object

In [575]:
homicide_gini["Gini_Index"]=homicide_gini["Gini_Index"].astype("float")

In [576]:
homicide_gini.drop(columns='Gini_index', inplace=True)

KeyError: "['Gini_index'] not found in axis"

In [577]:
homicide_gini['Homicide Ratio'].corr(homicide_gini['Gini_Index'])

0.5818847486918095

In [579]:
homicide_gini.to_csv('../your-project/homicide_gini.csv')

In [580]:
homicide_anova = pd.read_csv('./homicide_gini_2.csv')

In [581]:
homicide_anova

,Unnamed: 0,State,Decade,Population,Record ID,Homicide Ratio,Gini_Index,Diversity_index,Racial_disparity
0,0,Alabama,2000,4447100,3111,0.000700,0.4741,50,3.3
1,1,Alaska,2000,626932,406,0.000648,0.4376,61,3.8
2,2,Arizona,2000,5130632,4505,0.000878,0.4591,65,4.8
3,3,Arkansas,2000,2673400,1665,0.000623,0.4750,46,3.8
4,4,California,2000,33871648,24003,0.000709,0.4866,79,8.8
5,5,Colorado,2000,4301261,1717,0.000399,0.4548,52,7.3
6,6,Connecticut,2000,3405565,1116,0.000328,0.5024,56,9.4
7,7,Delaware,2000,783600,383,0.000489,0.4509,56,4.8
8,8,District of Columbia,2000,572059,1503,0.002627,0.5115,69,NaN
9,9,Florida,2000,15982378,10981,0.000687,0.4808,62,3.6
10,10,Georgia,2000,8186453,5952,0.000727,0.4795,62,3.2
11,11,Hawaii,2000,1211537,269,0.000222,0.4397,83,2.4
12,12,Idaho,2000,1293953,322,0.000249,0.4337,34,4.7
13,13,Illinois,2000,12419293,5414,0.000436,0.4800,61,8.8
14,14,Indiana,2000,6080485,3304,0.000543,0.4584,37,4.8
15,15,Iowa,2000,2926324,499,0.000171,0.4422,27,11.1
16,16,Kansas,2000,2688418,1002,0.000373,0.4500,43,7.0
17,17,Kentucky,2000,4041769,1587,0.000393,0.4764,28,3.3
18,18,Louisiana,2000,4468976,5240,0.001173,0.4978,55,4.0
19,19,Maine,2000,1274923,228,0.000179,0.4490,13,6.0
20,20,Maryland,2000,5296486,5247,0.000991,0.4558,66,4.7
21,21,Massachusetts,2000,6349097,1748,0.000275,0.4803,49,7.5
22,22,Michigan,2000,9938444,6530,0.000657,0.4634,42,6.6
23,23,Minnesota,2000,4919479,1138,0.000231,0.4434,36,11.0
24,24,Mississippi,2000,2844658,1778,0.000625,0.4896,54,3.0
25,25,Missouri,2000,5595211,3959,0.000708,0.4633,36,4.1
26,26,Montana,2000,902195,224,0.000248,0.4597,26,6.3
27,27,Nebraska,2000,1711263,275,0.000161,0.4400,36,8.4
28,28,Nevada,2000,1998257,1973,0.000987,0.4710,72,4.1
29,29,New Hampshire,2000,1235786,136,0.000110,0.4406,18,5.2
30,30,New Jersey,2000,8414350,3918,0.000466,0.4782,67,12.2
31,31,New Mexico,2000,1819046,1368,0.000752,0.4768,73,6.4
32,32,New York,2000,18976457,8791,0.000463,0.5149,70,8.0
33,33,North Carolina,2000,8049313,5428,0.000674,0.4743,56,4.3
34,34,North Dakota,2000,642200,82,0.000128,0.4558,27,5.2
35,35,Ohio,2000,11353140,5014,0.000442,0.4651,36,5.6
36,36,Oklahoma,2000,3450654,2182,0.000632,0.4739,56,4.5
37,37,Oregon,2000,3421399,918,0.000268,0.4500,43,5.6
38,38,Pennsylvania,2000,12281054,7153,0.000582,0.4745,41,8.9
39,39,South Carolina,2000,4012012,3208,0.000800,0.4747,53,4.3
40,40,South Dakota,2000,754844,149,0.000197,0.4360,33,4.8
41,41,Tennessee,2000,5689283,4356,0.000766,0.4749,43,3.7
42,42,Texas,2000,20851820,14389,0.000690,0.4753,70,4.0
43,43,Utah,2000,2233169,574,0.000257,0.4268,42,7.3
44,44,Vermont,2000,608827,120,0.000197,0.4471,13,10.5
45,45,Virginia,2000,7078515,4028,0.000569,0.4690,58,5.0
46,46,Washington,2000,5894121,2012,0.000341,0.4577,53,5.7
47,47,West Virginia,2000,1808344,661,0.000366,0.4644,15,3.5
48,48,Wisconsin,2000,5363675,1779,0.000332,0.4391,35,11.5
49,49,Wyoming,2000,493782,131,0.000265,0.4345,31,3.5

In [582]:
homicide_anova['Racial_disparity'].corr(homicide_anova['Homicide_Ratio'])

KeyError: 'Homicide_Ratio'

In [583]:
homicide_anova['Racial_disparity'].corr(homicide_anova['Diversity_index'])

-0.13319764441681922

In [584]:
homicide_anova['Gini_Index'].corr(homicide_anova['Diversity_index'])

0.4938033960118058

In [585]:
homicide_anova['Gini_Index'].corr(homicide_anova['Racial_disparity'])

-0.059782595001040995

In [586]:
homicide_anova['Homicide_Ratio'].corr(homicide_anova['Diversity_index'])

KeyError: 'Homicide_Ratio'

In [587]:
homicide_anova.columns

Index(['Unnamed: 0', 'State', 'Decade', 'Population', 'Record ID',
       'Homicide Ratio', 'Gini_Index', 'Diversity_index', 'Racial_disparity'],
      dtype='object')

In [588]:
homicide_anova.drop(columns=['Unnamed: 0', 'Decade', 'Record ID', 'Population'], axis=1, inplace=True)

In [589]:
homicide_anova=homicide_anova.rename(columns={'Homicide Ratio':'Homicide_Ratio'})

In [590]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn import linear_model
import math

In [591]:
homicide_anova.columns

Index(['State', 'Homicide_Ratio', 'Gini_Index', 'Diversity_index',
       'Racial_disparity'],
      dtype='object')

In [592]:
median_disparity = round(homicide_anova.Racial_disparity.median(),1)
homicide_anova.Racial_disparity = homicide_anova.Racial_disparity.fillna(median_disparity)

In [593]:
reg = linear_model.LinearRegression()
reg.fit(homicide_anova[['Gini_Index', 'Diversity_index', 'Racial_disparity']], homicide_anova.Homicide_Ratio)

LinearRegression()

In [594]:
reg.coef_

array([ 8.38396577e-03,  5.95215053e-06, -3.45132319e-05])

In [595]:
reg.intercept_

-0.0034376883228833264

In [596]:
reg.predict([[0.9, 70, ]])

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 2)

In [597]:
homicide_anova['Homicide_Ratio'].max()

0.0026273509999999996

In [598]:
homicide_anova.dtypes

State                object
Homicide_Ratio      float64
Gini_Index          float64
Diversity_index       int64
Racial_disparity    float64
dtype: object

In [599]:
mod = ols('Homicide_Ratio~State', data = homicide_anova).fit()

In [601]:
print(anova_homicide)

            df        sum_sq       mean_sq    F  PR(>F)
State     49.0  7.594923e-06  1.549984e-07  0.0     NaN
Residual   0.0  1.884171e-35           inf  NaN     NaN

In [602]:
homicide_anova.sort_values(by=['Racial_disparity'], ascending=False)

,State,Homicide_Ratio,Gini_Index,Diversity_index,Racial_disparity
30,New Jersey,0.000466,0.4782,67,12.2
48,Wisconsin,0.000332,0.4391,35,11.5
15,Iowa,0.000171,0.4422,27,11.1
23,Minnesota,0.000231,0.4434,36,11.0
44,Vermont,0.000197,0.4471,13,10.5
6,Connecticut,0.000328,0.5024,56,9.4
38,Pennsylvania,0.000582,0.4745,41,8.9
4,California,0.000709,0.4866,79,8.8
13,Illinois,0.000436,0.4800,61,8.8
27,Nebraska,0.000161,0.4400,36,8.4
32,New York,0.000463,0.5149,70,8.0
21,Massachusetts,0.000275,0.4803,49,7.5
43,Utah,0.000257,0.4268,42,7.3
5,Colorado,0.000399,0.4548,52,7.3
16,Kansas,0.000373,0.4500,43,7.0
22,Michigan,0.000657,0.4634,42,6.6
31,New Mexico,0.000752,0.4768,73,6.4
26,Montana,0.000248,0.4597,26,6.3
19,Maine,0.000179,0.4490,13,6.0
46,Washington,0.000341,0.4577,53,5.7
37,Oregon,0.000268,0.4500,43,5.6
35,Ohio,0.000442,0.4651,36,5.6
29,New Hampshire,0.000110,0.4406,18,5.2
34,North Dakota,0.000128,0.4558,27,5.2
45,Virginia,0.000569,0.4690,58,5.0
8,District of Columbia,0.002627,0.5115,69,5.0
14,Indiana,0.000543,0.4584,37,4.8
40,South Dakota,0.000197,0.4360,33,4.8
2,Arizona,0.000878,0.4591,65,4.8
7,Delaware,0.000489,0.4509,56,4.8
12,Idaho,0.000249,0.4337,34,4.7
20,Maryland,0.000991,0.4558,66,4.7
36,Oklahoma,0.000632,0.4739,56,4.5
33,North Carolina,0.000674,0.4743,56,4.3
39,South Carolina,0.000800,0.4747,53,4.3
28,Nevada,0.000987,0.4710,72,4.1
25,Missouri,0.000708,0.4633,36,4.1
18,Louisiana,0.001173,0.4978,55,4.0
42,Texas,0.000690,0.4753,70,4.0
1,Alaska,0.000648,0.4376,61,3.8
3,Arkansas,0.000623,0.4750,46,3.8
41,Tennessee,0.000766,0.4749,43,3.7
9,Florida,0.000687,0.4808,62,3.6
47,West Virginia,0.000366,0.4644,15,3.5
49,Wyoming,0.000265,0.4345,31,3.5
17,Kentucky,0.000393,0.4764,28,3.3
0,Alabama,0.000700,0.4741,50,3.3
10,Georgia,0.000727,0.4795,62,3.2
24,Mississippi,0.000625,0.4896,54,3.0
11,Hawaii,0.000222,0.4397,83,2.4

In [603]:
poverty_race = pd.read_csv('../your-project/raw_data.csv')

In [604]:
poverty_race

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.090,0.212,0.172,0.097,0.242,0.149,0.123
1,Alabama,0.115,0.236,0.244,0.107,0.156,0.186,0.154
2,Alaska,0.069,NaN,0.149,NaN,0.240,0.069,0.107
3,Arizona,0.092,0.175,0.182,0.115,0.290,0.153,0.134
4,Arkansas,0.134,0.289,0.201,0.125,0.155,0.227,0.165
5,California,0.084,0.193,0.150,0.090,0.203,0.107,0.118
6,Colorado,0.070,0.197,0.143,0.082,0.181,0.143,0.094
7,Connecticut,0.058,0.184,0.220,0.088,NaN,0.138,0.102
8,Delaware,0.073,0.173,0.211,0.084,NaN,NaN,0.109
9,District of Columbia,0.051,0.234,0.089,0.126,NaN,NaN,0.143
10,Florida,0.092,0.198,0.157,0.102,0.139,0.147,0.127
11,Georgia,0.091,0.191,0.197,0.096,0.232,0.144,0.134
12,Hawaii,0.101,NaN,0.137,0.091,0.553,0.088,0.098
13,Idaho,0.096,NaN,0.186,0.199,0.274,0.108,0.111
14,Illinois,0.079,0.241,0.136,0.102,0.209,0.126,0.114
15,Indiana,0.100,0.250,0.153,0.133,0.184,0.231,0.122
16,Iowa,0.099,0.305,0.184,0.117,0.391,0.144,0.114
17,Kansas,0.089,0.208,0.208,0.127,0.222,0.179,0.115
18,Kentucky,0.150,0.236,0.211,0.126,NaN,0.244,0.161
19,Louisiana,0.125,0.294,0.253,0.110,0.188,0.226,0.187
20,Maine,0.102,0.291,0.092,NaN,0.151,0.150,0.106
21,Maryland,0.062,0.128,0.116,0.081,0.180,0.124,0.091
22,Massachusetts,0.065,0.178,0.192,0.107,0.365,0.134,0.094
23,Michigan,0.099,0.267,0.198,0.104,0.219,0.235,0.131
24,Minnesota,0.066,0.269,0.148,0.094,0.355,0.138,0.090
25,Mississippi,0.117,0.305,0.308,0.110,0.362,0.205,0.196
26,Missouri,0.110,0.200,0.177,0.136,0.252,0.184,0.126
27,Montana,0.109,NaN,0.227,NaN,0.338,0.227,0.131
28,Nebraska,0.081,0.146,0.198,0.151,0.214,0.189,0.103
29,Nevada,0.099,0.212,0.168,0.099,0.145,0.114,0.130
30,New Hampshire,0.073,NaN,0.109,NaN,NaN,0.082,0.075
31,New Jersey,0.056,0.163,0.157,0.058,NaN,0.100,0.092
32,New Mexico,0.114,0.221,0.208,0.128,0.272,0.174,0.177
33,New York,0.091,0.191,0.185,0.134,0.258,0.163,0.129
34,North Carolina,0.095,0.211,0.216,0.079,0.268,0.204,0.135
35,North Dakota,0.083,NaN,0.157,NaN,0.380,NaN,0.110
36,Ohio,0.100,0.270,0.237,0.098,0.211,0.244,0.130
37,Oklahoma,0.124,0.282,0.221,0.150,0.194,0.168,0.155
38,Oregon,0.101,0.273,0.161,0.118,0.185,0.144,0.115
39,Pennsylvania,0.087,0.246,0.271,0.127,0.322,0.181,0.121
40,Rhode Island,0.071,0.243,0.219,0.062,NaN,0.127,0.107
41,South Carolina,0.092,0.232,0.213,0.090,0.210,0.166,0.138
42,South Dakota,0.077,NaN,NaN,NaN,0.427,NaN,0.110
43,Tennessee,0.112,0.213,0.249,0.072,0.281,0.232,0.139
44,Texas,0.079,0.184,0.187,0.092,0.120,0.118,0.136
45,Utah,0.074,0.438,0.158,0.122,0.234,0.123,0.094
46,Vermont,0.098,0.362,0.118,NaN,NaN,NaN,0.102
47,Virginia,0.077,0.161,0.125,0.070,NaN,0.136,0.099
48,Washington,0.081,0.157,0.163,0.082,0.189,0.101,0.097
49,West Virginia,0.150,0.274,0.192,NaN,NaN,0.310,0.158
50,Wisconsin,0.075,0.245,0.194,0.107,0.236,0.153,0.097
51,Wyoming,0.088,NaN,0.145,NaN,0.151,0.196,0.099
52,Puerto Rico,0.333,NaN,0.436,NaN,NaN,0.579,0.435

In [605]:
median_poverty = round(poverty_race.Black.median(),3)
poverty_race.Black = poverty_race.Black.fillna(median_poverty)

In [606]:
poverty_race

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.090,0.212,0.172,0.097,0.242,0.149,0.123
1,Alabama,0.115,0.236,0.244,0.107,0.156,0.186,0.154
2,Alaska,0.069,0.226,0.149,NaN,0.240,0.069,0.107
3,Arizona,0.092,0.175,0.182,0.115,0.290,0.153,0.134
4,Arkansas,0.134,0.289,0.201,0.125,0.155,0.227,0.165
5,California,0.084,0.193,0.150,0.090,0.203,0.107,0.118
6,Colorado,0.070,0.197,0.143,0.082,0.181,0.143,0.094
7,Connecticut,0.058,0.184,0.220,0.088,NaN,0.138,0.102
8,Delaware,0.073,0.173,0.211,0.084,NaN,NaN,0.109
9,District of Columbia,0.051,0.234,0.089,0.126,NaN,NaN,0.143
10,Florida,0.092,0.198,0.157,0.102,0.139,0.147,0.127
11,Georgia,0.091,0.191,0.197,0.096,0.232,0.144,0.134
12,Hawaii,0.101,0.226,0.137,0.091,0.553,0.088,0.098
13,Idaho,0.096,0.226,0.186,0.199,0.274,0.108,0.111
14,Illinois,0.079,0.241,0.136,0.102,0.209,0.126,0.114
15,Indiana,0.100,0.250,0.153,0.133,0.184,0.231,0.122
16,Iowa,0.099,0.305,0.184,0.117,0.391,0.144,0.114
17,Kansas,0.089,0.208,0.208,0.127,0.222,0.179,0.115
18,Kentucky,0.150,0.236,0.211,0.126,NaN,0.244,0.161
19,Louisiana,0.125,0.294,0.253,0.110,0.188,0.226,0.187
20,Maine,0.102,0.291,0.092,NaN,0.151,0.150,0.106
21,Maryland,0.062,0.128,0.116,0.081,0.180,0.124,0.091
22,Massachusetts,0.065,0.178,0.192,0.107,0.365,0.134,0.094
23,Michigan,0.099,0.267,0.198,0.104,0.219,0.235,0.131
24,Minnesota,0.066,0.269,0.148,0.094,0.355,0.138,0.090
25,Mississippi,0.117,0.305,0.308,0.110,0.362,0.205,0.196
26,Missouri,0.110,0.200,0.177,0.136,0.252,0.184,0.126
27,Montana,0.109,0.226,0.227,NaN,0.338,0.227,0.131
28,Nebraska,0.081,0.146,0.198,0.151,0.214,0.189,0.103
29,Nevada,0.099,0.212,0.168,0.099,0.145,0.114,0.130
30,New Hampshire,0.073,0.226,0.109,NaN,NaN,0.082,0.075
31,New Jersey,0.056,0.163,0.157,0.058,NaN,0.100,0.092
32,New Mexico,0.114,0.221,0.208,0.128,0.272,0.174,0.177
33,New York,0.091,0.191,0.185,0.134,0.258,0.163,0.129
34,North Carolina,0.095,0.211,0.216,0.079,0.268,0.204,0.135
35,North Dakota,0.083,0.226,0.157,NaN,0.380,NaN,0.110
36,Ohio,0.100,0.270,0.237,0.098,0.211,0.244,0.130
37,Oklahoma,0.124,0.282,0.221,0.150,0.194,0.168,0.155
38,Oregon,0.101,0.273,0.161,0.118,0.185,0.144,0.115
39,Pennsylvania,0.087,0.246,0.271,0.127,0.322,0.181,0.121
40,Rhode Island,0.071,0.243,0.219,0.062,NaN,0.127,0.107
41,South Carolina,0.092,0.232,0.213,0.090,0.210,0.166,0.138
42,South Dakota,0.077,0.226,NaN,NaN,0.427,NaN,0.110
43,Tennessee,0.112,0.213,0.249,0.072,0.281,0.232,0.139
44,Texas,0.079,0.184,0.187,0.092,0.120,0.118,0.136
45,Utah,0.074,0.438,0.158,0.122,0.234,0.123,0.094
46,Vermont,0.098,0.362,0.118,NaN,NaN,NaN,0.102
47,Virginia,0.077,0.161,0.125,0.070,NaN,0.136,0.099
48,Washington,0.081,0.157,0.163,0.082,0.189,0.101,0.097
49,West Virginia,0.150,0.274,0.192,NaN,NaN,0.310,0.158
50,Wisconsin,0.075,0.245,0.194,0.107,0.236,0.153,0.097
51,Wyoming,0.088,0.226,0.145,NaN,0.151,0.196,0.099
52,Puerto Rico,0.333,0.226,0.436,NaN,NaN,0.579,0.435

In [607]:
homicide_big = pd.merge(homicide_anova, poverty_race[['Location','White', 'Black']], how='left', left_on='State', right_on='Location', )

In [610]:
homicide_big.drop(columns='Location', inplace=True)

In [612]:
homicide_big['Homicide_Ratio'].corr(homicide_big['Black'])

-0.1291620765694362

In [614]:
homicide_big['Racial_disparity'].corr(homicide_big['Black'])

0.0893306866832747

In [615]:
homicide_big['Diversity_index'].corr(homicide_big['Gini_Index'])

0.49380339601180573

In [616]:
homicide_big['Diversity_index'].corr(homicide_big['Black'])

-0.4368637727645181

In [ ]:
# % homicide

In [632]:
homicide_big['Difference_poverty'] = homicide_big['Black'] - homicide_big['White']

In [633]:
homicide_big
# White and Black are the percentage of poverty by each state and race

,State,Homicide_Ratio,Gini_Index,Diversity_index,Racial_disparity,White,Black,Difference_poverty
0,Alabama,0.000700,0.4741,50,3.3,0.115,0.236,0.121
1,Alaska,0.000648,0.4376,61,3.8,0.069,0.226,0.157
2,Arizona,0.000878,0.4591,65,4.8,0.092,0.175,0.083
3,Arkansas,0.000623,0.4750,46,3.8,0.134,0.289,0.155
4,California,0.000709,0.4866,79,8.8,0.084,0.193,0.109
5,Colorado,0.000399,0.4548,52,7.3,0.070,0.197,0.127
6,Connecticut,0.000328,0.5024,56,9.4,0.058,0.184,0.126
7,Delaware,0.000489,0.4509,56,4.8,0.073,0.173,0.100
8,District of Columbia,0.002627,0.5115,69,5.0,0.051,0.234,0.183
9,Florida,0.000687,0.4808,62,3.6,0.092,0.198,0.106
10,Georgia,0.000727,0.4795,62,3.2,0.091,0.191,0.100
11,Hawaii,0.000222,0.4397,83,2.4,0.101,0.226,0.125
12,Idaho,0.000249,0.4337,34,4.7,0.096,0.226,0.130
13,Illinois,0.000436,0.4800,61,8.8,0.079,0.241,0.162
14,Indiana,0.000543,0.4584,37,4.8,0.100,0.250,0.150
15,Iowa,0.000171,0.4422,27,11.1,0.099,0.305,0.206
16,Kansas,0.000373,0.4500,43,7.0,0.089,0.208,0.119
17,Kentucky,0.000393,0.4764,28,3.3,0.150,0.236,0.086
18,Louisiana,0.001173,0.4978,55,4.0,0.125,0.294,0.169
19,Maine,0.000179,0.4490,13,6.0,0.102,0.291,0.189
20,Maryland,0.000991,0.4558,66,4.7,0.062,0.128,0.066
21,Massachusetts,0.000275,0.4803,49,7.5,0.065,0.178,0.113
22,Michigan,0.000657,0.4634,42,6.6,0.099,0.267,0.168
23,Minnesota,0.000231,0.4434,36,11.0,0.066,0.269,0.203
24,Mississippi,0.000625,0.4896,54,3.0,0.117,0.305,0.188
25,Missouri,0.000708,0.4633,36,4.1,0.110,0.200,0.090
26,Montana,0.000248,0.4597,26,6.3,0.109,0.226,0.117
27,Nebraska,0.000161,0.4400,36,8.4,0.081,0.146,0.065
28,Nevada,0.000987,0.4710,72,4.1,0.099,0.212,0.113
29,New Hampshire,0.000110,0.4406,18,5.2,0.073,0.226,0.153
30,New Jersey,0.000466,0.4782,67,12.2,0.056,0.163,0.107
31,New Mexico,0.000752,0.4768,73,6.4,0.114,0.221,0.107
32,New York,0.000463,0.5149,70,8.0,0.091,0.191,0.100
33,North Carolina,0.000674,0.4743,56,4.3,0.095,0.211,0.116
34,North Dakota,0.000128,0.4558,27,5.2,0.083,0.226,0.143
35,Ohio,0.000442,0.4651,36,5.6,0.100,0.270,0.170
36,Oklahoma,0.000632,0.4739,56,4.5,0.124,0.282,0.158
37,Oregon,0.000268,0.4500,43,5.6,0.101,0.273,0.172
38,Pennsylvania,0.000582,0.4745,41,8.9,0.087,0.246,0.159
39,South Carolina,0.000800,0.4747,53,4.3,0.092,0.232,0.140
40,South Dakota,0.000197,0.4360,33,4.8,0.077,0.226,0.149
41,Tennessee,0.000766,0.4749,43,3.7,0.112,0.213,0.101
42,Texas,0.000690,0.4753,70,4.0,0.079,0.184,0.105
43,Utah,0.000257,0.4268,42,7.3,0.074,0.438,0.364
44,Vermont,0.000197,0.4471,13,10.5,0.098,0.362,0.264
45,Virginia,0.000569,0.4690,58,5.0,0.077,0.161,0.084
46,Washington,0.000341,0.4577,53,5.7,0.081,0.157,0.076
47,West Virginia,0.000366,0.4644,15,3.5,0.150,0.274,0.124
48,Wisconsin,0.000332,0.4391,35,11.5,0.075,0.245,0.170
49,Wyoming,0.000265,0.4345,31,3.5,0.088,0.226,0.138

In [634]:
homicide_big['Difference_poverty'].corr(homicide_big['Homicide_Ratio'])

-0.10742140619300458

In [628]:
homicide.loc[(homicide['Perpetrator Race']=='Black') & (homicide['Year']==2013)]['Record ID'].count()

4746

In [629]:
homicide.loc[(homicide['Perpetrator Race']=='White') & (homicide['Year']==2013)]['Record ID'].count()

4912

In [623]:
homicide[homicide['Perpetrator Race']=='White']['Record ID'].count()

218243

In [630]:
crimes_race = pd.read_csv('../your-project/table-43a.csv')

In [631]:
crimes_race

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander
0,TOTAL,100.0,68.9,27.2,2.4,1.2,0.3
1,Murder and nonnegligent manslaughter,100.0,44.2,53.1,1.1,1.3,0.2
2,Rape3,100.0,67.5,28.7,1.8,1.7,0.4
3,Robbery,100.0,43.6,54.3,0.9,0.9,0.4
4,Aggravated assault,100.0,62.1,33.5,2.5,1.6,0.3
5,Burglary,100.0,67.5,29.8,1.3,1.1,0.3
6,Larceny-theft,100.0,67.7,29.1,1.8,1.2,0.2
7,Motor vehicle theft,100.0,66.0,30.3,1.9,1.4,0.4
8,Arson,100.0,71.3,25.2,1.6,1.6,0.3
9,Violent crime4,100.0,58.5,37.5,2.1,1.5,0.3
10,Property crime4,100.0,67.6,29.3,1.7,1.2,0.2
11,Other assaults,100.0,64.9,31.4,2.1,1.3,0.3
12,Forgery and counterfeiting,100.0,65.1,32.4,0.9,1.4,0.2
13,Fraud,100.0,66.6,30.8,1.3,1.2,0.1
14,Embezzlement,100.0,59.8,37.7,0.8,1.5,0.2
15,"Stolen property; buying, receiving, possessing",100.0,63.6,33.5,1.4,1.2,0.4
16,Vandalism,100.0,68.4,28.0,2.2,1.2,0.2
17,"Weapons; carrying, possessing, etc.",100.0,53.7,43.9,1.1,1.1,0.3
18,Prostitution and commercialized vice,100.0,56.0,37.6,0.4,5.7,0.3
19,Sex offenses (except rape and prostitution),100.0,70.9,24.9,1.8,2.0,0.3
20,Drug abuse violations,100.0,70.4,27.1,1.2,1.1,0.2
21,Gambling,100.0,38.3,51.9,0.8,7.3,1.6
22,Offenses against the family and children,100.0,65.5,28.1,5.7,0.7,*
23,Driving under the influence,100.0,81.7,14.0,2.1,1.9,0.3
24,Liquor laws,100.0,78.2,14.0,6.2,1.5,0.1
25,Drunkenness,100.0,73.9,14.3,10.6,1.0,0.2
26,Disorderly conduct,100.0,62.9,31.8,4.3,0.8,0.1
27,Vagrancy,100.0,68.3,27.9,2.6,1.1,0.1
28,All other offenses (except traffic),100.0,68.9,27.6,2.3,0.9,0.3
29,Suspicion,100.0,37.4,22.1,38.6,1.0,0.9
30,Curfew and loitering law violations,100.0,56.0,40.5,1.8,1.3,0.4

In [ ]:
# Whites kill more
# More blacks are charged for murder
# The ratio of black to white inmates goes from 2 to 12 blacks per white
# Blacks compared to whites are charged more for 3 crimes, by very little difference: Murder, Gambling and Robbery
#